 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');


:root{
    --color-primary : #140f34;
    --color-secondary :#80c6ff ;
    --color-font : #13362d;
    --color-shadow : #385d70     ;
} 
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-primary);     
}


.container{
    width: min(42.5rem , 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin-top: 5rem;
    font-size: 80px;
    background-color: var(--color-secondary);
    color: var(--color-font);
    box-shadow: 1px 1px 30px 16px var(--color-shadow);
    border: 1px solid whitesmoke;
}
.buttons{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.buttons button{
    border: none;
    background-color: rgb(34, 58, 66);
    cursor: pointer;
    font-size: 30px;
    color: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 3px var(--color-shadow);
}